<%= form_with model: product, url: url , html: { id: form_id } do |f| %>
  <div class="input-group">
    <%= f.label :name %><br />
    <%= f.text_field :name , class: 'w-full border-gray-700 border-0 border-b-2 bg-gray-50'%>
  </div>

  <div class="input-group flex">
    <div class="my-8">
      <%= f.label :category_id %><br />
      <%= collection_select(:product, :category_id, Category.all, :id, :name, {prompt: true}, {class: 'w-full border-0 border-b bg-gray-50'})%>
    </div>

    <div class="my-8 mx-5 flex items-center">
      <%= f.check_box :featured %>
      <%= f.label :featured, class: 'mx-1 hover:cursor-pointer' %>
    </div>
  </div>
  
  <div class="input-group my-8" data-controller="previews">
    <%= f.label :images, class: 'my-1'%><br>
    <%= f.file_field :images,
      direct_upload: true,
      multiple: true,
      data: { previews_target: 'input', action: 'change->previews#preview' }
    %>

    <div id="image-previews" class="grid grid-cols-2 gap-1 w-96 overflow-y-auto" data-previews-target="previewContainer"></div>
  </div>

  <div class="input-group field">
    <label>Detail</label><br />
    <%= f.rich_text_area :detail %>
  </div>

  <div class="input-group my-8" data-controller="variations--forms">
    <label>Variations</label><br>
    <div data-variations--forms-target="variationContainer" class="my-1">

      <% if @product.variations.present? %>
        <table class="w-full border">
          <tr class="bg-gray-100">
            <th class="border">Name</th>
            <th class="border">Sizes</th>
            <th class="border">Actions</th>
          </tr>
          <% @product.variations.each do |variant|%>
            <tr class="border">
              <td class="p-1"><%= variant.name %></td>
              <td class="p-1"><%= variant.sizes.pluck(:size).join(', ')%></td>
              <td class="p-1 flex justify-center">
                <%= link_to 'Show', admin_console_product_variation_path(@product, variant), class: 'bg-gray-400 mx-1 text-white p-1 rounded' %>
                <%= link_to 'Edit', edit_admin_console_product_variation_path(@product, variant), class: 'bg-gray-400  mx-1 text-white p-1 rounded' %>
                <a href="" data-id="<%= variant.id%>"  data-action="click->variations--forms#batchDelete">Remove</a>
              </td>
            </tr>
          <%end%>
        </table>
      <%end%>

      <div display="hidden" data-variations--forms-target="variationIds"></div>
    </div>
    <button type="button" 
      class="border-2 border-dashed rounded border-gray-500 text-gray-800 text-xl bg-gray-100 w-full h-24"
      data-action="click->variations--forms#addVariationField" >
      Add Variation
    </button>

    <br>
  </div>
  
  <div class="my-2 flex justify-end">
    <%= f.submit "Submit", class: 'mx-1 text-white p-2 rounded bg-green-500 w-auto hover:cursor-pointer hover:bg-green-100 hover:text-green-800 border'%>
    <%= link_to 'Cancel', cancel_path, name: 'cancel', value: true,
      data: stimulus ? { controller: cancel_js_controller, action: cancel_js_actions } : {},
      class: 'mx-1 text-white p-2 rounded bg-red-500 w-auto hover:cursor-pointer hover:bg-red-100 hover:text-red-800 border'
    %>
  </div>
<% end %>


<style>
    input::file-selector-button {
      background-color: #1D4ED8;
      color: white;
      border: 1px solid blue;
      border-radius: 1rem;
      padding: .5rem;
    }

    input[type=file] {
      border: 2px dashed gray;
      padding: .5rem;
      background-color: #E5E7EB;
      border-radius: .5rem;
    }

    input[type=file]:hover{
      cursor: pointer;
      background-color: #D1D5DB;
    }


  .trix-content {
    max-width: 48rem;
    margin: auto;
  }
  </style>