<% if product %>
  <%= turbo_stream.update 'modal' do %>
  <% end %>

  <%= turbo_stream.prepend 'product-table-body' do %>
    <div class='absolute top-0'>
      <%= render partial: 'partials/flash_messages'%>
    </div>
  <% end %>

  <%= turbo_stream.prepend 'product-table-body' do%>
    <%= render partial: 'table_row', locals: { product: product}%>
  <% end %>

<% elsif flash.present? %>
  <%= turbo_stream.prepend 'new_product' do %>
    <div class='absolute top-0'>
      <%= render partial: 'partials/flash_messages'%>
    </div>
  <% end %>
<% end %>