<script src="https://kit.fontawesome.com/da7ccd1607.js" crossorigin="anonymous"></script>
<section class="container mt-16 relative px-10 w-screen">
  <%= render partial: 'partials/flash_messages'%>

  <%# New Button %>
  <div class="mx-auto flex justify-end m-3">
    <%= button_to '+ Add Product',
      new_admin_console_product_path,
      data: { turbo_frame: 'modal' },
      method: :get,
      class: 'bg-blue-700 text-white font-semibold p-2 text-md rounded-md shadow-md hover:bg-blue-100 border border-blue-500 hover:text-blue-700'
    %>
  </div>
  
  <table class="mx-auto w-full">
    <thead>
      <tr class="border-b text-gray-800">
        <td class="p-2 px-4 max-w-xl w-screen">Name</td>
        <td class="p-2 px-4 max-w-sm w-20">Price</td>
        <td class="p-2 px-4 max-w-sm">Created At</td>
        <td class="p-2 px-4 max-w-sm">Updated At</td>
        <td class="p-2 px-4 max-w-sm">Actions</td>
      </tr>
    </thead>

    <tbody id="product-table-body">
      <% @products.each do |product| %>
        <tr class="text-gray-800 mt-2 border-b hover:bg-gray-100 hover:shadow">
          <td class="max-w-xl w-screen">
            <%= button_to product.name, admin_console_product_path(product), class: 'text-left p-4 h-full w-full', method: :get%>
          </td>
          <td class="p-1">
            <%= button_to product_price_range(product.sizes), admin_console_product_path(product), class: 'text-left p-4 h-full w-full', method: :get%>
          </td>
          <td class="p-4 max-w-sm"><%= format_date(product.created_at)%></td>
          <td class="p-4 max-w-sm"><%= format_date(product.updated_at)%></td>
          <td class="p-4">
            <%= link_to edit_admin_console_product_path(product),
              class: 'bg-blue-400 text-white p-1 m-1 rounded' do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <%end%>
            <%= link_to admin_console_product_path(product), data: { turbo_method: :delete, turbo_confirm: 'Are you sure to delete this product?' } ,
              class: 'bg-red-400 text-white p-1 m-1 rounded' do %>
              <i class="fa-solid fa-trash"></i>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mx-auto flex justify-center p-4">
    <%= paginate @products, window: 3 %>
  </div>

  <%# NOTE: https://dzone.com/articles/rails-creating-modals %>
</section>
