<%= turbo_frame_tag 'modal' do %>
  <div class="z-10 fixed flex items-center top-0 w-screen h-screen bg-opacity-25 bg-black shadow p-1">
    <%= form_with model: @product, url: admin_console_products_path , html: { id: 'new_post', class: 'relative py-4 px-8 mx-auto rounded shadow bg-white w-auto max-w-screen-lg overflow-y-auto max-h-128' } do |f| %>
      <h2 class="text-2xl my-2 antialiased font-medium">New Product</h2>
      <div class="flex justify-around">
        <div class="mr-5">
          <div class="my-8">
            <%= f.label :name %><br />
            <%= f.text_field :name , class: 'w-64 rounded'%>
          </div>

          <div class="my-8">
            <%= f.label :price %><br />
            <%= f.text_field :price, class: 'w-64 rounded'%>
          </div>

          <div class="my-8">
            <%= f.label :sizes %><br />
            <%= f.text_field :sizes, class: 'w-64 rounded' %>
          </div>
        </div>

        <div>
          <div class="my-8" data-controller="previews">
            <%= f.label :images%><br>
            <%= f.file_field :images,
              direct_upload: true,
              multiple: true,
              data: { previews_target: 'input', action: 'change->previews#preview' } 
            %>

            <div id="image-previews" class="grid grid-cols-2 gap-1 max-h-44 overflow-y-auto" data-previews-target="previewContainer"></div>
          </div>

          <div class="" data-controller="products">
            <%= f.label :variants %>

            <div class="my-1">
              <button type="button" class="border p-1 rounded focus:bg-black focus:text-white" value="color" data-action="click->products#selectVariantType">Colors</button>
              <button type="button" class="border p-1 rounded focus:bg-black focus:text-white" value="image" data-action="click->products#selectVariantType">Images</button>
            </div>

            <div data-products-target="colorGroup">
              <input type="color" id="color-field" data-products-target="colorPicker" data-action="change->products#selectColor"><br />
              <%= f.text_area :variants, class: 'w-64 rounded', data: { products_target: 'colorField' } %>
            </div>

            <div data-products-target="imageGroup" hidden="false" data-controller="previews">
              <%= f.file_field :image_variants,
                direct_upload: true,
                multiple: true,
                data: { previews_target: 'input', action: 'change->previews#preview' }
              %>

              <div class="grid grid-cols-2 gap-1 max-h-44 overflow-y-auto" data-previews-target="previewContainer"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label>Detail</label><br />
        <%= f.rich_text_area :detail %>
      </div>
      
      <div class="my-2 flex justify-end">
        <%= f.submit "Submit", class: 'mx-1 text-white p-2 rounded bg-green-500 w-auto hover:cursor-pointer hover:bg-green-100 hover:text-green-800 border'%>

        <%= button_to 'Cancel', admin_console_products_path, data: {
          controller: 'modals',
          action: 'click->modals#close'
          }, class: 'mx-1 text-white p-2 rounded bg-red-500 w-auto hover:cursor-pointer hover:bg-red-100 hover:text-red-800 border'
        %>
      </div>
    <% end %>
  </div>
<% end %>
