<%= turbo_frame_tag 'modal' do %>
  <div class="z-10 fixed flex items-center top-0 w-screen h-screen bg-opacity-25 bg-black shadow p-1">
    <%= form_with model: @product, url: admin_console_products_path , html: { id: 'new_post', class: 'relative py-4 px-8 mx-auto rounded shadow bg-white w-auto' } do |f| %>
      <h2 class="text-2xl my-2 antialiased font-medium">New Product</h2>
      <div class="my-8">
        <%= f.label :name %><br />
        <%= f.text_field :name , class: 'w-64 rounded'%>
      </div>

      <div class="my-8">
        <%= f.label :price %><br />
        <%= f.text_field :price, class: 'w-64 rounded'%>
      </div>
      
      <div class="my-2 flex justify-end">
        <%= f.submit "Submit", class: 'mx-1 text-white p-2 rounded bg-green-500 w-auto hover:cursor-pointer hover:bg-green-100 hover:text-green-800 border'%>

        <%= button_to 'Cancel', admin_console_products_path, data: {
          controller: 'modals',
          action: 'click->modals#close'
          }, class: 'mx-1 text-white p-2 rounded bg-red-500 w-auto hover:cursor-pointer hover:bg-red-100 hover:text-red-800 border'
        %>
      </div>
      <!-- form_for @object, html: { multipart: true }, do |f| -->
      <!-- form_for @object, html: { class: "classname" }, do |f| -->
    <% end %>
  </div>
<% end %>
