<section class="flex flex-row-reverse mt-16 mx-auto text-gray-700">
  <section class="meta-data-section mx-5 w-100 min-w-128">
    <div class="flex text-lg justify-between">
      <h1 class="text-4xl font-semibold"><%= @product.name%></h1>
      <%= button_to 'Edit',
        edit_admin_console_product_path(@product),
        method: :get,
        class: 'bg-blue-700 text-white font-semibold py-1 px-4 text-md rounded-md shadow-md hover:bg-blue-100 hover:text-blue-700 hover:border hover:border-blue-500'
      %>
    </div>

    <div class="mt-1">
      <span class="font-semibold tracking-wide">PRICE:</span>
      <span class="">PHP <%= @product.price %></span>
    </div>

    <div class="text-lg my-5">
      <h2 class="font-semibold tracking-wide">VARIANTS:</h2>
      <div class="grid grid-cols-4 gap-2">
        <% @product.variations.each do |variant|%>
          <div class="border p-0">
            <%if variant.image.attached?%>
              <%= image_tag variant.image, class: 'h-24 mx-auto'%>
            <%else%>
              <div class="flex bg-gray-200 h-24 items-center text-center justify-center text-gray-500">
                <h2>Missing Image</h2>
              </div>
            <%end%>

            <h3 class="p-1"><%= variant.name%></h3>
          </div>
        <%end%>
      </div>
    </div>

    <div class="text-md my-5">
      <h2 class="font-semibold tracking-wide">SIZES:</h2>
      <div class="flex">
        <% @product.sizes.each do |size| %>
          <div class="border mx-2 p-2 rounded hover:cursor-pointer hover:border-purple-800"><%= size %></div>
        <% end %>
      </div>
    </div>

    <div class="p-2 text-md text-justify">
      <h2 class="font-semibold tracking-wide">DETAILS:</h2>
      <div class="border rounded p-1">
        <%= @product.detail %>
      </div>
    </div>
  </section>

  <%= render partial: "partials/image_carousel", locals: { images: @images } %>
</section>
