<section class="mt-16 p-10">
  <%= form_with model: current_admin, url: admin_console_profile_path(current_admin), class: '' do |f| %>
    <div>
      <%= f.fields_for :profile do |p|%>
        <%= p.label :photo%>
        <%= p.file_field :photo%>
      <% end %>
    </div>
    
    <div>
      <%= f.label :username%><br/>
      <%= f.text_field :username %>
    </div>

     <div>
      <%= f.label :email%><br/>
      <%= f.text_field :email %>
    </div>

     <div>
      <%= f.label :first_name%><br/>
      <%= f.text_field :first_name %>
    </div>

    <div>
      <%= f.submit "Submit", disable_with: 'Submiting...'%>
    </div>
  <%end%>
</section>
